<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Mosaddek">
  <meta name="keyword"
        content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <link rel="shortcut icon" href="img/favicon.html">

  <title>Blank</title>

  <!-- Bootstrap core CSS -->
  <link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{~/css/bootstrap-reset.css}" rel="stylesheet">
  <!--external css-->
  <link th:href="@{~/assets/font-awesome/css/font-awesome.css}" rel="stylesheet"/>
  <!-- Custom styles for this template -->
  <link th:href="@{~/css/style.css}" rel="stylesheet">
  <link th:href="@{~/css/style-responsive.css}" rel="stylesheet"/>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
  <!--[if lt IE 9]>
  <script th:src="@{~/js/html5shiv.js}"></script>
  <script th:src="@{~/js/respond.min.js}"></script>
  <![endif]-->
  <style>
    em{
      color: red;
    }
  </style>
</head>

<body>

<section id="container" class="">
  <!--header start-->
  <header class="header white-bg">
    <div class="sidebar-toggle-box">
      <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
    </div>
    <!--logo start-->
    <a href="#" class="logo">教师评教系统</span></a>
    <!--logo end-->

  </header>
  <!--header end-->
  <!--sidebar start-->
  <aside th:if="${session.userInfo.role} eq 0">
    <div id="sidebar" class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu">
        <li class="active">
          <a class="" th:href="@{~/home}">
            <i class="icon-user"></i>
            <span>个人中心</span>
          </a>
        </li>
        <li class="sub-menu">
          <a href="javascript:;" class="">
            <i class="icon-cogs"></i>
            <span>个人设置</span>
            <span class="arrow"></span>
          </a>
          <ul class="sub">
            <li><a class="" th:href="@{~/profile-edit}">编辑个人资料</a></li>
            <li><a class="" th:href="@{~/security-edit}">安全设置</a></li>
          </ul>
        </li>
        <li>
          <a class="" th:href="@{~/list_teacher}">
            <i class="icon-check"></i>
            <span>教师信息管理</span>
          </a>
        </li>
        <li>
          <a class="" th:href="@{~/list_major}">
            <i class="icon-check"></i>
            <span>专业信息管理</span>
          </a>
        </li>
        <li>
          <a class="" th:href="@{~/list_class}">
            <i class="icon-check"></i>
            <span>班级信息管理</span>
          </a>
        </li>
        <li>
          <a class="" th:href="@{~/list_student}">
            <i class="icon-check"></i>
            <span>学生信息管理</span>
          </a>
        </li>
        <li>
          <a class="" th:href="@{~/list_course}">
            <i class="icon-check"></i>
            <span>课程管理</span>
          </a>
        </li>
        <li>
          <a class="" th:href="@{~/list_xuanke}">
            <i class="icon-check"></i>
            <span>选课管理</span>
          </a>
        </li>
        <li class="sub-menu">
          <a class="" href="javascript:void(0)">
            <i class="icon-check"></i>
            <span>题库管理</span>
          </a>
          <ul class="sub">
            <li class=""><a class="" th:href="@{~/list_question}">问题管理</a></li>
            <li><a class="" th:href="@{~/list_paper}">问卷管理</a></li>
          </ul>
        </li>
        <li>
          <a class="" th:href="@{~/get_result}">
            <i class="icon-check"></i>
            <span>评教结果查看</span>
          </a>
        </li>
        <li>
          <a class="" th:href="@{~/result_charts}">
            <i class="icon-check"></i>
            <span>统计分析</span>
          </a>
        </li>
        <li>
          <a class="" th:href="@{~/login}">
            <i class="icon-signout"></i>
            <span>退出系统</span>
          </a>
        </li>
      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>
  <aside th:if="${session.userInfo.role} ne 0">
    <div id="sidebar" class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu">
        <li class="">
          <a class="" href="javascript:void(0)">
            <i class="icon-user"></i>
            <span>个人中心</span>
          </a>
        </li>
        <li class="sub-menu">
          <a href="javascript:;" class="">
            <i class="icon-cogs"></i>
            <span>个人设置</span>
            <span class="arrow"></span>
          </a>
          <ul class="sub">
            <li><a class="" href="profile-edit">编辑个人资料</a></li>
            <li><a class="" href="security-edit">安全设置</a></li>
          </ul>
        </li>
        <li  class="active" th:if="${session.userInfo.role} eq 2">
          <a class="" th:href="@{~/reading_papers}">
            <i class="icon-check"></i>
            <span>教师评教</span>
          </a>
        </li>
        <li th:if="${session.userInfo.role} eq 1">
          <a class="" th:href="@{~/get_result}">
            <i class="icon-check"></i>
            <span>评教结果查看</span>
          </a>
        </li>
        <li>
          <a class="" href="/login">
            <i class="icon-signout"></i>
            <span>退出系统</span>
          </a>
        </li>
      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>
  <!--sidebar end-->
  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">
      <!-- page start-->
      <div class="row">
        <div class="col-lg-12">
          <section class="panel">
            <header class="panel-heading">
              问卷
            </header>
            <div class="panel-body">
              <form class="form-horizontal tasi-form">
                <div class="form-group" th:each="question:${questions}">
                  <label class="control-label col-lg-10 col-lg-offset-1"
                         th:text="${question.question}">题干题干</label>
                  <div class="col-lg-10 col-lg-offset-1">

                    <div class="radio">

                      <input type="radio" th:name="${question.oid}"
                             th:text="${question.answerA}" th:value="${question.scoreA}" required>
                    </div>
                    <div class="radio">

                      <input type="radio" th:name="${question.oid}"
                             th:text="${question.answerB}" th:value="${question.scoreB}" required>

                    </div>
                    <div class="radio">

                      <input type="radio" th:name="${question.oid}"
                             th:text="${question.answerC}" th:value="${question.scoreC}" required>


                    </div>
                    <div class="radio">

                      <input type="radio" th:name="${question.oid}"
                             th:text="${question.answerD}" th:value="${question.scoreD}" required>

                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-lg-10 col-lg-offset-1">对教师的印象及评价1</label>
                  <div class="col-lg-10 col-lg-offset-1">
                    <p>您还可以输入<span><em id="allow1" class="allow">100</em>/100</span>个字</p>
                    <textarea class="form-control" id="comment1" name="editor1" rows="6"
                              placeholder="在此填写对教师的主观印象" maxlength="100" required></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-lg-10 col-lg-offset-1">对教师的印象及评价2</label>
                  <div class="col-lg-10 col-lg-offset-1">
                    <p>您还可以输入<span><em id="allow2" class="allow">100</em>/100</span>个字</p>
                    <textarea class="form-control" id="comment2" name="editor1" rows="6"
                              placeholder="在此填写对教师的主观印象" maxlength="100" required></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-lg-10 col-lg-offset-1">对教师的印象及评价3</label>
                  <div class="col-lg-10 col-lg-offset-1">
                    <p>您还可以输入<span><em id="allow3" class="allow">100</em>/100</span>个字</p>
                    <textarea class="form-control" id="comment3" name="editor1" rows="6"
                              placeholder="在此填写对教师的主观印象" maxlength="100" required></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-lg-10 col-lg-offset-1">对教师的印象及评价4</label>
                  <div class="col-lg-10 col-lg-offset-1">
                    <p>您还可以输入<span><em id="allow4" class="allow">100</em>/100</span>个字</p>
                    <textarea class="form-control" id="comment4" name="editor1" rows="6"
                              placeholder="在此填写对教师的主观印象" maxlength="100" required></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-lg-10 col-lg-offset-1">对教师的印象及评价5</label>
                  <div class="col-lg-10 col-lg-offset-1">
                    <p>您还可以输入<span><em id="allow5" class="allow">100</em>/100</span>个字</p>
                    <textarea class="form-control" id="comment5" name="editor1" rows="6"
                              placeholder="在此填写对教师的主观印象" maxlength="100" required></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-10">
                    <a class="btn btn-info" th:data-result="${resultId}" id="save">保存</a>
                    <button class="btn btn-default" type="reset">取消</button>
                  </div>
                </div>
              </form>
            </div>
          </section>
        </div>
      </div>
      <!-- page end-->
    </section>
  </section>
  <!--main content end-->
</section>

<!-- js placed at the end of the document so the pages load faster -->
<script th:src="@{~/js/jquery.js}"></script>
<script th:src="@{~/js/bootstrap.min.js}"></script>
<script th:src="@{~/js/jquery.scrollTo.min.js}"></script>
<script th:src="@{~/js/jquery.nicescroll.js}" type="text/javascript"></script>


<!--common script for all pages-->
<script th:src="@{~/js/common-scripts.js}"></script>
<script>
  window.onload = function() {
    var total = 100;

    onkeyup = function() {
      var count1 = document.getElementById('comment1').value.length;
      var count2 = document.getElementById('comment2').value.length;
      var count3 = document.getElementById('comment3').value.length;
      var count4 = document.getElementById('comment4').value.length;
      var count5 = document.getElementById('comment5').value.length;
      document.getElementById('allow1').innerHTML=total-count1;
      document.getElementById('allow2').innerHTML=total-count2;
      document.getElementById('allow3').innerHTML=total-count3;
      document.getElementById('allow4').innerHTML=total-count4;
      document.getElementById('allow5').innerHTML=total-count5;
    }
  }
  $(document).ready(function () {
    $('#save').click(function () {
      var checkedvalue = 0;
      var completed = true
      var checkedCount = $('input:radio:checked').length;
      var questionCount = [[${size}]]
      if (checkedCount !== questionCount){
        alert("别着急，还有选择题没做完～，一共"+questionCount+"道，你做了"+checkedCount+"道")
        completed = false
      }
      $('textarea').each(function () {
        if (!$(this).val().length>0) {
          completed =false
        }
      })
      $('input:radio:checked').each(function () {
        checkedvalue += Number.parseInt($(this).val());
      });
      var comment = $('#comment1').val()+ '。'+$('#comment2').val()+'。'+$('#comment3').val()+'。'+$('#comment4').val()+'。'+$('#comment5').val()+'。'
      if (completed){
        $.ajax({
          url: "/comment",
          type: "post",
          contentType: "application/json",
          dataType: "json",
          data: JSON.stringify({
            score: checkedvalue,
            comment: comment,
            resultId:$('a.btn-info').data('result')
          }),
          success: function (data) {
            if (data.success) {
              alert("评价成功");
              console.log(comment);
              window.location = document.referrer;
            } else {
              alert("评价失败");
            }
          },
          error: function () {
            alert("ajax请求错误")
          }

        });
      } else {
        alert("题还没做完，先别慌～")
      }

    });
  });
</script>
</body>
</html>
